.fundoCadastro {
  background-image: url("https://img.freepik.com/vetores-premium/preencha-a-tabela-de-dados-cadastrais_999616-375.jpg?w=360");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: 100%;
  background-position: center;
}
