.fundoLogin {
  background-image: url("https://img.freepik.com/fotos-premium/computador-e-maos-fecham_566707-3684.jpg?w=740");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
